<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.sargas.rider"
        version   = "1.0.0">

    <name>Sargas Rider</name>

    <description>
        Sargas Rider App
    </description>

    <author href="http://sargasenergy.com" email="support@sargasenergy.com">
        Sargas Team
    </author>

   
    <preference name="permissions"                value="none"/>
    <preference name="phonegap-version" value="cli-9.0.0" />
        
        <access origin="http://sargasoms.com/" />




    <platform name="android">
        <preference name="android-minSdkVersion" value="21" />
    </platform>
   

</widget>
